.header{
    
}

body{
    background-color: rgb(49, 47, 47);
    text-align: center;
}

.header-text{
    color: red;
    font-size: 90px;
    font-family: 'Pacifico', cursive;
    border-bottom: 2px solid red;
}

.img1{
    padding-right:120px;
}

.img2{
    padding-left:120px;
}
.dice-img{
    margin-top: auto;
    border: 1px solid #fff;
    /* width: 100%; */
    /* height: 400px; */
    /* padding: 30px; */
}

.img-block{
    color: #fff;
}

.win2{
    color: #fff;
    border: 1px solid #fff;
    margin-left:490px;
}

.result{
    color: #fff;
}